*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./imagenessuplementos/fondo.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100%;
}

.headerprin{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: hsl(221, 57%, 33%);
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  

}
.logoprin{
    float: left; 
    margin: 6px;
    width: 130px;
}

#banner{
    width: 100%;
    height: 700px;
 
}
#banner img{
    width: 100%;
    height: auto;
    
}

#navprin{
    padding: 25px;
    margin-right: 20px;
    float: right;
}

#navprin li{
     
    display: inline-block; 
    padding-right: 5px;  
    list-style: none;
    border: 1px solid white;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
    
    
}

#navprin li:hover{
    background-color: hwb(221 1% 2% / 0.795);
}

#navprin li a{
    color:white;
    text-decoration: none;

}

#navprin li i{
    color:white;
    text-decoration: none;
    font-size: 25px;
}

.ocultar{
    display: none;
    position: absolute;

}

.ocultar:hover{
    display: block;
}






#footer{
    background: hsl(221, 57%, 33%); 
    text-align: center; 
    color: white;
}

#asideprin{
    
    width: 50%;
    float: right;
    padding-top: 100px; 
    

}

#asideprin p{
    margin-top: 10px;
}



#asideprin img{

    width: 300px;
    margin: 50px 0px 50px 25%;

}


.imgarticle{

    margin-top: 35px;
    width: 50%;
    height: 150px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
}

.articleprin{
   
    width: 23%;
    margin: 5px 4px 5px 15px;
    height: auto;
    display: inline-block;
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    background-color: white;
   
}

.articleprin h1{
    text-align: center;
    margin-top: 10px;
}

#main{
    width: 100%;
}


.imgarticle1{

   
    width: 100%;
    height: auto;
  
}

.textoprincipal{
    
    
    color: black;
  
}

.condiciones{
    width: 500px;
    height: auto;
    background-color:hwb(221 14% 48% / 0.856);
    padding: 30px 40px 30px 30px;
    margin: 30px 150px 150px 850px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    line-height: 25px;
    word-spacing: 5px;
}

.condiciones .tamaño{
    font-size: 25px;
}

.headerprin-condiciones{
    top: 0;
    width: 100%;
    height: 90px;
  background: hsl(221, 57%, 33%);
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  

}