*{
    margin: 0;
    padding: 0;
}

body{
 background-image: url(./imagenessuplementos/fondo.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100%;
}

.form-registro{
    width: 400px;
    height: auto;
    background-color:hsla(221, 57%, 33%, 0.795);
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 10px 30px;

}

.form-registro h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: white;

}
.inputs{
    width: 100%;
    background: rgb(48, 64, 156);
    padding: 9px 0px 9px 9px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 2px solid white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;    
}

.inputs::placeholder { 
    color: #ffffffd5; }


.form-registro .terminos{
    height: 40px;
    text-align: center;
    font-size: 15px;
    width: 90%;
    float: right;
    margin-bottom: 8px;
    color: white;
    margin-top: 7px;
    
}
.form-registro a{
    color: white;
    text-decoration: none;
}

.boton{
    width: 100%;
    border-radius: 5px;
    background: hwb(221 20% 33%);
    padding: 10px;
    color: white;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    border: 2px solid white;
}
.boton:hover{
    width: 100%;
    border-radius: 5px;
    background: hsl(236, 80%, 34%);
    padding: 10px;
    color: white;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    border: 2px solid white;

}

.poseecuenta{
    text-align: center;
    margin-top: 5px;
}
.check{
    margin-top: 10px;
    margin-left: 20px;
 }

 .form-inicio{
    width: 400px;
    height: auto;
    background-color:hsla(221, 57%, 33%, 0.795);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 10px 30px;
 }

.form-inicio a{
    color: white;
    text-decoration: none;
}

.form-inicio h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.form-completado{
    width: 400px;
    height: 150px;
    background-color:hsla(221, 57%, 33%, 0.795);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 10px 30px;
 }

 .form-completado p{
    height: 40px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    color: white;

}
.form-completado a{
    color: white;
    text-decoration: none;
}

.form-completado h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.form-registro .nombre-inputs{
    
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 25px;
    
}
.form-inicio .nombre-inputs{
    
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 25px;
    
}