*{
    margin: 0;
    padding: 0;
}

body{
 background-image: url(./imagenessuplementos/fondo.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
 
}

/** FORMULARIO DE REGISTRO **/

.form-registro{
    width: 30%;
    height: auto;
    background-color:hwb(221 14% 48% / 0.856);
    padding: 30px 40px 30px 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 10px 30px;

}

.form-registro h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: white;

}

.form-registro .terminos{
    height: 40px;
    text-align: center;
    font-size: 16px;
    width: 90%;
    float: right;
    margin-bottom: 5px;
    margin-right: 7px;
    color: white;
    margin-top: 7px;
    
}
.form-registro a{
    color: white;
    text-decoration: none;
}

/** INPUTS REGISTRO/INICIO **/

.inputs{
    width: 100%;
    background: rgb(48, 64, 156);
    padding: 9px 0px 9px 9px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 2px solid white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;    
}

.inputs::placeholder { 
    color: #8d8b8bb9; }

/** BOTON DE REGISTRO/INICIO **/

.boton{
    width: 100%;
    border-radius: 10px;
    background: hwb(221 20% 33%);
    padding: 10px;
    color: white;
    margin: 0px 0px 10px 5px;
    font-size: 16px;
    border: 2px solid white;
   
}
.boton:hover{
    width: 100%;
    border-radius: 10px;
    background: hsl(236, 80%, 34%);
    padding: 10px;
    color: white;
    margin: 0px 0px 10px 5px;
    font-size: 16px;
    border: 2px solid white;

}

/** TEXTO POSEE CUENTA // QUIERE REGISTRARSE **/

.textoredireccion{
    text-align: center;
    margin-top: 5px;
}

/** CHECKBOX **/

.check{
    margin-top: 10px;
    margin-left: 20px;
 }


/** FORMULARIO DE INICIO **/

 .form-inicio{
    width: 30%;
    height: auto;
    background-color:hsla(221, 57%, 33%, 0.795);
    padding: 30px 40px 30px 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 10px 30px;
 }

.form-inicio a{
    color: white;
    text-decoration: none;
}

.form-inicio h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.form-inicio .terminos{
    color: white; 
    margin-left: 10px;
}

.form-inicio .check{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 25px;
}

/** FORMULARIO DE REGISTRO COMPLETADO **/

.form-completado{
    width: 30%;
    height: 150px;
    background-color:hsla(221, 57%, 33%, 0.795);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 8px 10px 30px;
 }

 .form-completado p{
    height: 40px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    color: white;

}
.form-completado a{
    color: white;
    text-decoration: none;
}

.form-completado h2{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

/** NOMBRE DE INPUTS INICIO Y REGISTRO **/

.form-registro .nombre-inputs{
    
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 20px;
    
}
.form-inicio .nombre-inputs{
    
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 20px;
    
}

.terminos a{
    color: white;
    font-weight: bold;
}

